graft external/anyode/include
graft external/anyode/cython_def
include external/anyode/LICENSE
recursive-include pygslodeiv2/include *.hpp *.pxd
include pygslodeiv2/*.pyx
include AUTHORS
include CHANGES.rst
include LICENSE
include README.rst
